fastapi
uvicorn
python-dotenv
pyodbc
SQLAlchemy<2.0
langchain
langchain-community
pydantic
pydantic_settings
streamlit
pandas
requests
langchain_openai
sqlalchemy
langchain_chroma
langchain_text_splitters
supabase
openai