fastapi
uvicorn
python-dotenv
pyodbc
langchain
langchain-community
pydantic
pydantic_settings
streamlit
pandas
requests
langchain_openai
sqlalchemy<2.0
langchain_chroma
langchain_text_splitters
supabase
openai